In [109]:
print("Hello, World!")

Hello, World!

In [110]:
print("Hello, Python")
print("Ivanna")

Hello, Python
Ivanna

In [111]:
print("The itsy bitsy spider climbed up the waterspout.")
print()
print("Down came the rain and washed the spider out.")

The itsy bitsy spider climbed up the waterspout.

Down came the rain and washed the spider out.

In [112]:
print("The itsy bitsy spider\nclimbed up the waterspout.")
print()
print("Down came the rain\nand washed the spider out.")

The itsy bitsy spider
climbed up the waterspout.

Down came the rain
and washed the spider out.

In [113]:
print("The itsy bitsy spider","climbed up","the waterspout.")

The itsy bitsy spider climbed up the waterspout.

In [114]:
print("My name is","Python.")
print("Monty Python")

My name is Python.
Monty Python

In [115]:
print("My name is","Python.", end=" ")
print("Monty Python")

My name is Python. Monty Python

In [116]:
print("My name is","Python.", end="\n")
print("Monty Python")

My name is Python.
Monty Python

In [117]:
print("My","name","is","Monty","Python.",sep="*")

My*name*is*Monty*Python.

In [118]:
print("My","name","is", sep="_", end="*")
print("Monty", "Pytnon.", sep="*", end="*\n")

My_name_is*Monty*Pytnon.*

In [119]:
print("Programming","Essentials","in", sep="***", end="...")
print("Python")

Programming***Essentials***in...Python

In [120]:
print('"I\'m"\n""learning""\n"""Python"""')

"I'm"
""learning""
"""Python"""

In [121]:
print(0o123)
print(0x123)
print(3e8)
print(6.62607E-34)

83
291
300000000.0
6.62607e-34

In [122]:
print(True>False)
print(True<False)

True
False

In [123]:
print('"I\'m",\n\""leraning"",\n"""Python"""')

"I'm",
""leraning"",
"""Python"""

In [124]:
print(2 ** 3)
print(2 ** 3.)
print(2. ** 3)
print(2. ** 3.)
print(5//4)
print(-6 / 4)
print(-4 + 4)
print(-4 - 4)
print(4. - 8)
print(-1.1)
print(2 // 4)
x = 1 / 2 + 3 // 3 + 4 ** 2
print(x)

8
8.0
8.0
8.0
1
-1.5
0
-8
-4.0
-1.1
0
17.5

In [125]:
a = 3.0
b = 4.0
c = (a ** 2 + b ** 2) ** 0.5
print("c=", c)

c= 5.0

In [126]:
john = 3
mary = 5
adam = 6
print ("john", "mary", "adam", sep = ",")
total_apples = john + mary + adam
print(total_apples)

john,mary,adam
14

In [127]:
kilometers = 12.25
miles = 7.38
miles_to_kilometers = miles * 1.61
kilometers_to_miles = kilometers / 1.61
print(miles, "miles is", round(miles_to_kilometers, 2), "kilometers")
print(kilometers, "kilometers is", round(kilometers_to_miles, 2), "miles")

7.38 miles is 11.88 kilometers
12.25 kilometers is 7.61 miles

In [128]:
var = 2
print(var)
var = 3
print(var)
var += 1
print(var)

2
3
4

In [129]:
a = '1'
b = "1"
print(a + b)

11

In [130]:
a = 6
b = 3
a /= 2 * b
print(a)

1.0

In [131]:
#this program computes the number of seconds in a given number of hours
number_of_hours = 2
number_of_seconds = 3600
print(number_of_hours, "hours", "equals", number_of_hours * number_of_seconds, "seconds")

2 hours equals 7200 seconds

In [132]:
print("Tell me anything...")
anything = input()
print("Hmm...", anything, "... Really?")

Tell me anything...
Hmm... 1 ... Really?

In [133]:
anything = input("Tell me anything...")
print("Hmm...", anything, "...Really?")

Hmm... 1 ...Really?

In [134]:
anything = float(input("Enter a number: "))
something = anything ** 2.0
print(anything, "to the power of to is", something)

1.0 to the power of to is 1.0

In [135]:
leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
hypo = (leg_a**2 + leg_b**2) ** .5
print("Hypotenuse length is", hypo)

Hypotenuse length is 1.4142135623730951

In [136]:
fnam = input("May I have your first name, please?")
lnam = input("May I have your second name, please?")
print("Thank you.")
print("\nYour name is " + fnam + " " + lnam + " .")

Thank you.

Your name is 1 1 .

In [138]:
print(1 // 2 * 3)

0

In [139]:
x = 1
y = 2
z = x
x = y
y = z
print(x, y)

2 1

In [142]:
x = int(input())
y = int(input())
 
x = x / y
y = y / x
 
print(y)

8.0

In [146]:
x = int(input())
y = int(input())
 
x = x % y
x = x % y
y = y % x
 
print(y)

1

In [147]:
z = y = x = 1
print(x, y, z, sep='*')

1*1*1

In [10]:
a = float(input("Enter first value: "))
b = float(input("Enter second value: "))
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("\nThat's all, folks!")

Addition: 5.0
Subtraction: -1.0
Multiplication: 6.0
Division: 0.6666666666666666

That's all, folks!

In [19]:
x = 1
y = 1/(x + 1/(x + 1/(x + 1/x)))
print(y)

0.6000000000000001

In [ ]:
hour = int(input("Starting time (hours): "))
mins = int(input("Starting time (minutes): "))
dura = int(input("Event duration (minutes): "))
end_time =

In [1]:
var = 0  # Assigning 0 to var
print(var != 0)
 
var = 1  # Assigning 1 to var
print(var != 0)

False
True

In [14]:
n = +123
n >= 100

True

In [1]:
plant = input("Enter flower name: ")
if plant == "Spathiphyllum":
    print("Yes - Spathiphyllum is the best plant ever!")
elif plant == "spathiphyllum":
    print("No, I want a big Spathiphyllum!")
else:
    print("Spathiphyllum! Not" name + "!")

Yes - Spathiphyllum is the best plant ever!

In [4]:
income = float(input("Enter the income:"))
if income < 85528:
    tax = income * 0.18 - 556.02
else:
    tax = 0.32 * (income - 85528) + 14839.02

if tax < 0.0:
    tax = 0.0

tax = round(tax, 0)
print ("The tax is:", tax, "thalers")

The tax is: 0.0 thalers

In [4]:
year = int(input("Enter a year:"))
if year < 1582:
    print("Not within the Gregorian calendar period")
else:
    if year % 4 != 0:
        print("common year")
    elif year % 100 != 0:
        print ("leap year")
    elif year % 400 != 0:
        print ("common year")
    else:
        print ("leap year")

leap year

In [5]:
x = 10
if x > 5:
    print("x is greater than 5")
if x < 10:
    print("x is less than 10")
if x == 10:
    print ("x is equal to ten")

x is greater than 5
x is equal to ten

In [6]:
x = 10
 
if x > 5: 
    if x == 6:
        print("nested: x == 6")
    elif x == 10:
        print("nested: x == 10")
    else:
        print("nested: else")
else:
    print("else")

nested: x == 10

In [7]:
x = 10
 
if x == 10:
    print(x == 10)
if x > 5:
    print(x > 5)
if x < 10:
    print(x < 10)
else:
    print("else")

True
True
else

In [1]:
x = "1"
x == 1

False

False

In [1]:
counter = 5
while counter > 2:
    print(counter)
    counter -= 1

5
4
3

In [2]:
word = "Python"
for letter in word:
    print(letter, end="*")

P*y*t*h*o*n*

In [3]:
for i in range(1, 10):
    if i % 2 == 0:
        print(i)

2
4
6
8

In [7]:
for i in range(1, 11):
    if i % 2 != 0:
        print(i)

1
3
5
7
9

In [9]:
x = 1
while x < 11:
    if x % 2 != 0:
        print(x)
    x += 1

1
3
5
7
9

In [5]:
odd_numbers = 0
even_numbers = 0 
number = 100
while number != 0:
    if number % 2 == 1:
        odd_numbers = odd_numbers + 1
    else:
        even_numbers = even_numbers + 1
    number = number - 1
print("Odd numbers count:", odd_numbers)
print("Even numbers count:", even_numbers)

Odd numbers count: 50
Even numbers count: 50

In [9]:
secret_number = 777
user_number = 790
while user_number != secret_number:
    print("Ha ha! You're stuck in my loop!")
    user_number = user_number - 1
print(secret_number, "Well done, muggle! You are free now.")

Ha ha! You're stuck in my loop!
Ha ha! You're stuck in my loop!
Ha ha! You're stuck in my loop!
Ha ha! You're stuck in my loop!
Ha ha! You're stuck in my loop!
Ha ha! You're stuck in my loop!
Ha ha! You're stuck in my loop!
Ha ha! You're stuck in my loop!
Ha ha! You're stuck in my loop!
Ha ha! You're stuck in my loop!
Ha ha! You're stuck in my loop!
Ha ha! You're stuck in my loop!
Ha ha! You're stuck in my loop!
777 Well done, muggle! You are free now.

In [6]:
x = 1
while x < 17:
    print ("I love you")
    x = x + 1

I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you

In [7]:
power = 1
for expo in range(16):
    print("2 to the power of", expo, "is", power)
    power *= 2

2 to the power of 0 is 1
2 to the power of 1 is 2
2 to the power of 2 is 4
2 to the power of 3 is 8
2 to the power of 4 is 16
2 to the power of 5 is 32
2 to the power of 6 is 64
2 to the power of 7 is 128
2 to the power of 8 is 256
2 to the power of 9 is 512
2 to the power of 10 is 1024
2 to the power of 11 is 2048
2 to the power of 12 is 4096
2 to the power of 13 is 8192
2 to the power of 14 is 16384
2 to the power of 15 is 32768

In [8]:
import time
for i in range(1,6):
    print(i, "Mississippi")
    time.sleep(1)
print("here I go")

1 Mississippi
2 Mississippi
3 Mississippi
4 Mississippi
5 Mississippi
here I go

In [ ]:
word = input("Enter the word:")
while word:
    print("You are stuck in the loop")
    if word == "chupacabra":
        break

In [12]:
user_word = input("enter the word:")
user_word = user_word.upper()
for l in user_word:
    if l == "A":
        continue
    elif l == "E":
        continue
    elif l == "I":
        continue
    elif l == "O":
        continue
    elif l == "U":
        continue
    else:
        print(l, end = "\n")

G
R
G
R
Y

In [5]:
word_without_vowels = ""
user_word = input("enter the word:")
user_word = user_word.upper()
for l in user_word:
    if l == "A":
        continue
    elif l == "E":
        continue
    elif l == "I":
        continue
    elif l == "O":
        continue
    elif l == "U":
        continue
    else:
        word_without_vowels = word_without_vowels + l
print(word_without_vowels)

GRGRY

In [6]:
i = 1
while i < 5:
    print(i)
    i += 1
else:
    print("else:", i)

1
2
3
4
else: 5

In [9]:
blocks = int(input("Enter the number of blocks: "))
height = 0
in_layer = 1
while in_layer <= blocks:
    in_layer = in_layer + 1
    blocks = blocks - in_layer
    height = height + 1

print("The height of the pyramid:", height)

The height of the pyramid: 5

In [ ]:
n = int(input("Enter an integer: "))
steps = 0

while n > 1:
    if n % 2 == 0:
        n = n // 2
    elif n % 2 != 0:
        n = 3 * n + 1
    steps += 1
    print(n)
    
print("Steps: ", steps)

In [12]:
text = "OpenEDG Python Institute"
for letter in text:
    if letter == "P":
        break
    print(letter, end="")

OpenEDG

In [13]:
text = "pyxpyxpyx"
for letter in text:
    if letter == "x":
        continue
    print(letter, end="")

pypypy

In [16]:
x = 1
while x < 11:
    if x % 2 != 0:
        print (x)
    x = x + 1

1
3
5
7
9

In [21]:
for ch in "john.smith@pythoninstitute.org":
    if ch == "@":
        break
    print(ch, end="")

john.smith

In [ ]:
for digit in "0165031806510":
    if digit == "0":

In [22]:
for digit in "0165031806510":
    if digit == "0":
        print("x", end = "")
        continue
print(digit, end = "")

xxxx0

In [24]:
n = 3
while n > 0:
    print(n + 1)
    n -= 1
else:
    print(n)

4
3
2
0

In [1]:
i = 0
while i <= 3 :
    i += 2
    print("*")

*
*

In [2]:
i = 0
while i <= 5 :
    i += 1
    if i % 2 == 0:
      break
    print("*")

*

In [2]:
var = 1
print(var > 0)
print(not (var <= 0))

True
True

In [5]:
i = 15
j = 22
log = i and j

In [2]:
numbers = [10, 5, 7, 2, 1]
print("Original list contents:", numbers)
numbers[0] = 111
print ("Current list:" , numbers)
len(numbers)

Original list contents: [10, 5, 7, 2, 1]
Current list: [111, 5, 7, 2, 1]

5

In [3]:
numbers = [10, 5, 7, 2, 1]
del numbers[0]
print(numbers)

[5, 7, 2, 1]

In [9]:
numbers = [1,2,3,4,5]
numbers[2] = int(input("Enter a number:"))
del numbers[-1]
print(numbers)
print(len(numbers))

[1, 2, 8, 4]
4

In [10]:
hat_list = [1, 2, 3, 4, 5]  
# outputs the original list in the hat
print("Original list:", (hat_list))

# prompts the user to replace the middle number with an integer number inputted by the user
user = int(input("Enter an integer for the middle:"))
hat_list [2] = user
# shows the new list after the integer entered by the user is replaced as the middle number
print("New list:", hat_list)

# removes the last element from the list
del hat_list [4]
# displays list after the last element is removed
print("List after last element is removed:", hat_list)

# prints the length of the existing list
print("\nList length:", len(hat_list))

Original list: [1, 2, 3, 4, 5]
New list: [1, 2, 8, 4, 5]
List after last element is removed: [1, 2, 8, 4]

List length: 4

In [ ]:
my_list = []  # Creating an empty list.
 
for i in range(5):
    my_list.insert(0, i + 1)
 
print(my_list)

[5, 4, 3, 2, 1]

In [2]:
my_list = [10,1,8,3,5]
total = 0
for i in my_list:
    total = total+i
print(total)

27

In [9]:
beatles = []
print("Step 1:", beatles)

beatles.append("John Lennon")
beatles.append("Paul McCartney")
beatles.append("George Harrison")
print("Step 2:", beatles)

for members in range(2):
    beatles.append(input("Enter the names:"))
print("Step 3:", beatles)

del beatles[-1]
del beatles[-1]
print("Step 4:", beatles)

beatles.insert(0, "Ringo Starr")
print("Step5:", beatles)

Step 1: []
Step 2: ['John Lennon', 'Paul McCartney', 'George Harrison']
Step 3: ['John Lennon', 'Paul McCartney', 'George Harrison', 'Stu Sutcliffe', 'Pete Best']
Step 4: ['John Lennon', 'Paul McCartney', 'George Harrison']
Step5: ['Ringo Starr', 'John Lennon', 'Paul McCartney', 'George Harrison']

In [10]:
lst = [1, 2, 3, 4, 5]
lst_2 = []
add = 0
 
for number in lst:
    add += number
    lst_2.append(add)
 
print(lst_2)

[1, 3, 6, 10, 15]

In [1]:
my_list = [17, 3, 11, 5, 1, 9, 7, 15, 13]
print(max(my_list))

17

In [4]:
my_list = [17, 3, 11, 5, 1, 9, 7, 77, 13]
largest = my_list[0]
for i in my_list:
    if i > largest:
        largest = i
print(largest)

77

In [3]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
to_find = 6
found = False
 
for i in my_list:
    found = my_list[i] == to_find
    if found:
        break
 
if found:
    print("Element found at index", i)
else:
    print("absent")

Element found at index 5

In [6]:
drawn = [5, 11, 9, 42, 3, 49]
bets = [3, 7, 11, 42, 34, 49]
hits = 0
for number in bets:
    if number in drawn:
        hits = hits + 1
print(hits)

4

In [5]:
my_list = [1, 2, 4, 4, 1, 4, 2, 6, 2, 9]
new_list = []
for number in my_list:
    if number not in new_list:
        new_list.append(number)
my_list = new_list
print(my_list)

[1, 2, 4, 6, 9]

In [6]:
x = 1
x = x == x
print(x)

True

i = 0
while i <= 5 :
    i += 1
print(i)

In [1]:
i = 0
while i <= 5 :
    i += 1
    if i % 2 == 0:
      break
    print("*")

*

In [4]:
i = 0
while i <= 5 :
    i += 1
    print(i)

1
2
3
4
5
6

In [5]:
for i in range(1):
    print("#")

#

In [3]:
i = 0
while i <= 3 :
    i += 2
    print(i)

2
4

In [6]:
for i in range(1):
    print("#")
else:
    print("#")

#
#

In [7]:
var = 1
while var < 10:
    print("#")
    var = var << 1

#
#
#
#

In [ ]:
nums = [1, 2, 3]
vals = nums[-1:-2]

In [4]:
row = []
for i in range(8):
    row.append("WHITE_PAWN")
print(row)

['WHITE_PAWN', 'WHITE_PAWN', 'WHITE_PAWN', 'WHITE_PAWN', 'WHITE_PAWN', 'WHITE_PAWN', 'WHITE_PAWN', 'WHITE_PAWN']

In [6]:
row = ["WHITE_PAWN" for i in range(8)]
print(row)

['WHITE_PAWN', 'WHITE_PAWN', 'WHITE_PAWN', 'WHITE_PAWN', 'WHITE_PAWN', 'WHITE_PAWN', 'WHITE_PAWN', 'WHITE_PAWN']

In [8]:
i = 0
while i < 5:
    print(i)
    i += 1
else:
    print("else:", i)

0
1
2
3
4
else: 5

In [17]:
i = 0
while i < 5:
        i += 1
        print(i)
else:
    print("else:", i)

1
2
3
4
5
else: 5

In [11]:
i = 0
while i <= 3 :
    i += 2
    print("*")

*
*

In [12]:
x =0 % 2
print(x)

0

In [13]:
z = 10
y = 0
x = y < z and z > y or y > z and z < y
print(x)

True

In [14]:
nums = [1, 2, 3]
vals = nums[-1:-2]
print(nums)
print(vals)

[1, 2, 3]
[]

In [16]:
i = 0
while i <= 5 :
    i += 1
    if i % 2 == 0:
      break
    print("*")

*

In [1]:
counter = 5
while counter:
    print("Inside the loop.", counter)
    counter -= 1
print("Outside the loop.", counter)

Inside the loop. 5
Inside the loop. 4
Inside the loop. 3
Inside the loop. 2
Inside the loop. 1
Outside the loop. 0

In [4]:
def message():
    print("Enter a value: ")
 
message()
a = int(input())
message()
b = int(input())
message()
c = int(input())

Enter a value:
Enter a value:
Enter a value:

In [5]:
def message (number):
    print("Enter the number", number)
message(100)

Enter the number 100

In [6]:
def message(number):
    print("Enter a number:", number)
 
number = 1234
message(1)
print(number)

Enter a number: 1
1234

In [7]:
def introduction(first_name, last_name):
    print("Hello, my name is", first_name, last_name)
 
introduction("Skywalker", "Luke")
introduction("Quick", "Jesse")
introduction("Kent", "Clark")

Hello, my name is Skywalker Luke
Hello, my name is Quick Jesse
Hello, my name is Kent Clark

In [4]:
def introduction(first_name, last_name="Smith"):
     print("Hello, my name is", first_name, last_name)
introduction(first_name="William")

Hello, my name is William Smith

In [5]:
def introduction(first_name="John", last_name="Smith"):
    print("Hello, my name is", first_name, last_name)
introduction()

Hello, my name is John Smith

In [1]:
def happy_new_year(wishes = True):
    print("Three...")
    print("Two...")
    print("One...")
    if not wishes:
        return
 
    print("Happy New Year!")
happy_new_year()

Three...
Two...
One...
Happy New Year!

In [2]:
def happy_new_year(wishes = True):
    print("Three...")
    print("Two...")
    print("One...")
    if not wishes:
        return
 
    print("Happy New Year!")
happy_new_year(False)

Three...
Two...
One...

In [ ]:
def boring_function():
    print("'Boredom Mode' ON.")
    return 123

boring_function()

'Boredom Mode' ON.

In [6]:
def strange_function(n):
    if(n % 2 == 0):
        return True
    
strange_function(5)